<div class="flex center" id="nav-tabs">
              <a class="flex-auto button bg-enl-green black border-left not-rounded regular resp-nav--list" href="#Hit"   onClick="_gaq.push(['_trackEvent', 'Navigate', 'Hit', 'Clicked Hit list']);">Hit</a>
              <a class="flex-first flex-auto button bg-enl-green black rounded-left regular resp-nav--list" href="#AP"   onClick="_gaq.push(['_trackEvent', 'Navigate', 'AP', 'Clicked AP list']);">AP</a>
              <a class="flex-auto button bg-res-blue black border-left not-rounded regular resp-nav--list" href="#Fielding"  onClick="_gaq.push(['_trackEvent', 'Navigate', 'Fielding', 'Clicked Fielding list']);">Fielding</a>
              <a class="flex-auto button bg-res-blue black border-left rounded-right regular resp-nav--list" href="#Protect"  onClick="_gaq.push(['_trackEvent', 'Navigate', 'Protect', 'Clicked Protect list']);">Protect</a>
            </div>
